{% extends  'app/base.html'%}

{% block title%}

PostPage
{% endblock%}



{% block body%}
<h1>Посты</h1>
<a href="{% url 'post-add' %}" class =' btn btn-info my-3'>Добавить статью </a>
{% for post in posts%}
<div class="alert alert-light border w-75">
    <h2>{{post.title}}</h2>
    <p>{{post.content|striptags|truncatechars:200}}</p>
    <img src="{{post.avtor.profile.img.url}}" alt="{{post.avtor}}" class="userimg">
    <span>Автор статьи: <a href="{% url 'post-user' post.avtor %}">{{post.avtor}}</a> Дата: {{post.date}}</span>
    <a href="{% url 'post-deteil' post.id %}" class="btn btn-outline-success "> Перейти на статью</a>



</div>


{%endfor%}



<form class="w-50 text-center" enctype="multipart/form-data" method="post" >
    {%csrf_token%}

</form>

{% if is_paginated%}
        {% if page_obj.has_previous %}
            <a href="{% url 'posts'%}" class=" btn btn-info"> Начало</a>
            <a href="/users/posts/?page={{ page_obj.previous_page_number}} " class="btn btn-outline-info p-2"><</a>
        {%endif%}

        {% for numer in page_obj.paginator.page_range %}
            {% if numer == page_obj.number%}
                <button class =" btn btn-success">{{numer}}</button>
            {% elif numer > page_obj.number|add:'-3' and numer < page_obj.number|add:'3' %}
                <a href="/users/posts/?page={{numer}}" class="btn btn-outline-info">{{ numer }}</a>
            {% endif%}


        {% endfor %}

        {% if page_obj.has_next %}
            <a href="/users/posts/?page={{page_obj.next_page_number}} " class="btn btn-outline-info p-2">></a>
            <a href="/users/posts/?page={{ page_obj.paginator.num_pages}}" class="btn btn-info "> Конец</a>

        {%endif%}
{%endif%}

{%endblock%}
