<!doctype html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="{% static 'user/style.css'%}">
</head>
<body>
<div class="container">
    <header>
 <span class="logo"><img src="https://catherineasquithgallery.com/uploads/posts/2021-03/1614563722_54-p-kot-na-belom-fone-kartinki-91.jpg" alt="Иконка котик" class="ImgIco">
 <h3>уберём всё <br>
     лишнее из ссылки</h3>
 </span>
  <ul>
      <li><a href="{% url 'index' %}">Главная</a></li>
      <li><a href="{% url 'about' %}">Про нас</a> </li>
      {% if not user.is_authenticated %}
      <li><a href="{% url 'login'%}">Войти</a>  </li>
      <li><a href="{% url 'register'%}">Регистрация</a> </li>
      {% else %}
      <li><a href="{%url 'link' %}">Ссылки</a></li>
      {%endif%}
  </ul>
</header>
    {% block main %} {% endblock%}

</div>



</body>
</html>