{% extends 'layout.html' %}
{% block title%}
{{ title }}
{% endblock%}



{% block main %}

<div class="courses container">

            <div class="course">

                {% if object.image%}
                <img src="{{ object.image.url}}" alt="{{object.title}}">
                {% else%}
                <img src="/pictures/default.jpg" alt="{{object.title}}">
                {% endif%}
                <h3>{{object.title}}</h3>

            </div>


           <iframe width="560" height="315" src="https://www.youtube.com/embed/{{lesson.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            <div class="aside">
                <h1> Видео урок {{ lesson.title}}</h1>
                <p>{{lesson.desc }}</p>

            </div>






</div>
{% if user.is_authenticated%}

             <form action="" method="post">
                 {{Comentform}}
                 {% csrf_token%}
                <button>Добавить</button>
             </form>


            <h2>коментарии</h2>
            <form action="">
                {% for el in allcoment %}
                <div class="coment">
                <div>{{el.text}}</div>
                <p> автор: {{el.user}}</p>
                </div>
                {% endfor%}
            </form>


{% endif %}

{% endblock%}