{% extends  'base.html'%}

{% block title%}
Exit
{% endblock%}



{% block main%}


<h1 class="text-center">Про нас</h1>

<p>тут наверное можно написать слова благодарности всем вам за то что помогли научиться создавать сайты и многое другое у вас очень крутой курс очень насыщеный а ещё спасибо тем кто отвечает на консультации от вас я вообще в восторге так как вы отвечайте быстро и даже в выходные мне как то ответили в 8 утра в воскресенье я был в каком то невероятном восторге от этого </p>
<p><b>P.S</b> да сайт не идеален мне просто нужна медалька за cдачу диплома первым :)</p>


{%endblock%}