{% extends  'base.html'%}

{% block title%}
ProfilePage
{% endblock%}



{% block main%}
<h1 class="text-center">Кабинет пользователя</h1>

<div class="text-center">
        <strong class="text-center">{{ user.username}}</strong>
          {% if user.email%}
         <p class="text-center"> <b>Email:</b> {{user.email}}</p>
          {% endif%}
</div>
<div class="centr">
    <form action="{% url 'exit' %}" method="post">
        {% csrf_token %}
        <button class="btn" type="submit">выйти из кабинета</button>
        </form>
</div>


<h2 class="text-center">Изменить Данные пользователя</h2>

<div class="centr">
    <form  method="post" >
        {%csrf_token%}
        {{profileform}}

        <button class="btn" type="submit">Обновить</button>

    </form>
</div>
{%endblock%}
