body{

}

.ImgIco{
    width: 100px;
    height: 100px;

}
.container{
    margin: 0 10%;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
header ul{
  list-style: none;
}
header ul li {
  display: inline-block;
  margin-left: 25px;
  cursor: pointer;
}
header ul li a {
    text-decoration: none;
    color: #565355;
    transition: 200ms ease ;
}

header ul li a:hover{
    color: black;
    font-weight: bold;
}
.logo{
    display: flex;
    color: #a8a2a6;
}
.logo h3{
    margin-left: 10px;
}
.wraper h1{
    font-size: 90px;
    text-align: center;
}
.wraper p {
    font-size: 20px;
    text-align: center;
}
.text-center{
    text-align: center;
}
.wraper button,
.authform button
{
    margin: 10px 45%;
    background: red;;
    padding: 5px;
    font-weight: bold;
    border-radius: 9px;
    cursor: pointer;
    transition: 350ms ease;

}

.wraper button:hover,
.authform button:hover{
    transform: scale(1.1);
    box-shadow: 0px 10px 10px rgba(0,0,0,100);

}
.centr{
    display: flex;
    align-items: center;
    justify-content: center;

}
.authform{
    width: 25%;
}
.authform input{
    width: 100%;
    padding: 5px;

}
