*{
    margin: 0;
    padding: 0;
}
p b{color: blue}
p strong{color: red}
a:active{color:green}
li:last-child{background-color: aquamarine}
td::before{
    content: "начало туть!";
}
#one{
    letter-spacing: -4px;
}

#Info{
    font-style: italic;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 3;
    text-align: center;
    letter-spacing: 3px;
    Word-spacing: 10px ;
}

.block1 {
    background: #ffcccb;
    width: 200px;
    background:url("../img/img4.jpg");
    padding: 20px;
    margin:10px;
    position: absolute;
    left: 0;
    top:0;
}
.block2{
    background:#c2f0c2;
    height: 150px;
    background: url("../img/oldschool.jpg");
    padding: 15px;
    margin: 20px;
    float: right;



}
.block3{
    border:2px dashed #aabbcc;
    background: url("../img/img4.jpg");
    position: absolute;
    opacity: .7;
    position: fixed;
    left: 50%;
    bottom:0;

}
.navigation{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffcccb;
    width:100%;

}

ul li{
    display: inline-block;
    background: chartreuse;
    margin: 10px;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 5px;
    cursor: pointer;

}

ul li:hover{
    background: #9818FF;
    color: #18F5FF;
    -webkit-box-shadow: 4px 4px 66px 57px rgba(255, 236, 0, 0.53);
    -moz-box-shadow: 4px 4px 66px 57px rgba(255, 236, 0, 0.53);
    box-shadow: 4px 4px 66px 57px rgba(255, 236, 0, 0.53);
}