.container{

    text-align:center;
    border: 2px solid #000;
    padding: 20px;
}
@media screen and (max-width:600px) {
    div{
        font-size: 16px;
        background:red;
    }

}
@media screen and (min-width: 601px) and (max-width: 1200px) {
    .container {
        font-size: 20px;
        background:green;
    }
}
@media screen and (min-width: 1201px){
.container{
    font-size:24px;
    background:blue;
}

}

.animated-box{
    padding:100px ;
    margin:100px;
    text-align:center;
    width:50px;

    border-radius: 100px;
    background: #aabbcc;

    animation-name:goodAnim;
    animation-duration:10s;
    animation-iteration-count:infinite;
}
@keyframes goodAnim{
    0%{border-radius: 100px;}
    10%{background: red;}
    20%{transform: scale(100%)}
    30%{transform: rotate(360deg)}
    40%{transform: translateX(100px)}
    50%{transform: translateY(-100px)}
    100 %{border-radius: 0px;}
}

.myanim{
    padding: 70px;
    text-align: center;
    width:1px;
    height: 1px;

    background:green;
    border-radius:100px;
}
.myanim:hover{
    animation: Oneanim 3s infinite;
}
@keyframes Oneanim {
    0%{transform:scale(1)}
    50%{transform:scale(2)}
    51%{margin: 100px}
    100%{transform:scale(1)}
}

.flex-container{
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.flex-container div{
    border:1px solid red;
}
.items1{
    background:#3498db;
    color:white;
    flex-basis:100px;
}
.items3{
    background:#2ecc71;
    color:white;
    flex-basis: 150px;
}
.items2{
    background:#e74c3c;
    color:white;
    flex-basis: 200px;
}